@media (max-width: 500px) {
	body {
		background: linear-gradient(-25deg, #ffffff 95%, #1b8edc 8%);
	}

	.about-tablet {
		display: none;
	}

	.about .social-media {
		text-align: center;
		margin: 10px;
	}

	.about h3,
	footer h2 {
		text-align: center;
		margin: 2px;
	}

	.about img {
		width: 100%;
	}

	main h3 {
		text-align: center;
	}

	.project-list {
		grid-template-columns: repeat(auto-fit, 1fr);
		place-content: center;
	}

	footer .footer-photo {
		aspect-ratio: 1;
		width: 100%;
		margin: 0;
	}

	footer .social-media {
		display: block;
		text-align: center;
	}
}

@media (min-width: 501px) {
	[class^='about'] > div {
		padding: 16px;
		background-color: #ffffff;
		box-shadow: 2px 2px 6px #038d92;
	}


	[class^='about'] .social-media {
		display: block;
		text-align: right;
	}

	.project-list {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		place-content: center;
	}

	footer {
		display: flex;
		justify-content: center;
	}

	.footer-photo {
		max-width: 300px;
		margin: 20px;
	}

	footer .social {
		text-align: left;
	}
}

@media (min-width: 501px) and (max-width: 1000px) {
	body {
		background: linear-gradient(-18deg, #ffffff 82%, #1b8edc 15%);
	}

	.tablet-view {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 20px;
	}

	.about {
		display: none;
	}

	.about-tablet {
		box-shadow: 2px 2px 6px #038d92;
		position: relative;
		top: 25px;
		left: 25px;
		padding: 14px;
		background-color: #ffffff;
	}

	.about-tablet > img{
		float: left;
		clear: both;
		width: 324px;
		position: relative;
		bottom: 2em;
		right: 2.5em;
		transform: scale(1.1);	
	}

	main {
		padding-top: 20px;
	}
}

@media (min-width: 1001px) {
	body {
		background: linear-gradient(-14deg, #ffffff 80%, #1b8edc 10%);
	}

	.about {
		display: flex;
		align-items: center;
		padding: 0;
	}

	.about-tablet {
		display: none;
	}

	.about > img {
		max-width: 24em;
	}

	.about .social {
		display: flex;
		justify-content: flex-end;
	}

	main h3 {
		text-align: left;
	}
}

:root,
body {
	margin: 0;
}

[class^='about'] {
	margin: 18px;
}

[class^='about'] img {
	aspect-ratio: 1;
	box-shadow: 1px 2px 8px #2f3d3d;
}

[class^='about'] a {
	text-decoration: none;
	color: black;
}

[class^='about'] h3 {
	font-size: xx-large;
}

[class^='about'] .social-icon {
	font-size: 24px;
}

.social-media {
	display: block;
}

main {
	margin-top: 1.4em;
	margin-bottom: 40px;
	padding: 1.1em;
}

main h3 {
	font-size: xx-large;
	margin: 8px;
}

/* ----- Project card ----- */
.project-list {
	display: grid;
	gap: 12px;
}

.project {
	border-radius: 3px;
	box-shadow: 1px 2px 7px #9ba3a2;
}

.project-screenshot {
	aspect-ratio: 1;
	width: 100%;
	border-radius: 3px;
}

.project-info {
	margin: 12px;
}

.project-info > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-info h4 {
	margin: 0;
	padding: 0;
	font-size: larger;
}

.project-info a,
footer a {
	text-decoration: none;
	color: black;
}

.reference {
	display: flex;
	align-items: center;
}

.ref-icon {
	font-size: 24px;
	width: 24px;
	margin: 2px;
}

/* ----- Footer styling ----- */
footer {
	background-color: #1b8ed1;
	color: #ffffff;
}

footer .phone-number a,
footer .email a {
	color: #ffffff;
}

footer > section {
	padding: 15px;
	padding-bottom: 50px;
}

footer .social-icon {
	font-size: 30px;
}

footer .icon {
	width: 21px;
	vertical-align: middle;
	filter: invert(100%);
}
